extends profile 

block profileSection
    .profile-section.bookings-sec
        h1.sec-title Your Bookings
        .fav-tours
            each booking in bookings 
                .fav-tour-card 
                    img.paid-icon(src="/img/paid-icon.png", alt="")
                    img(src=`/img/tours/${booking.tour.imageCover}`, alt=`${booking.tour.name}`)
                    h1 #{booking.tour.name}
                    p #{booking.tour.summary}
                    .rate-btn 
                        p #{booking.tour.ratingsAverage}
                            span.highlighted-card-word=`/5 rating(${booking.tour.ratingsQuantity})`
                        p.tour-price $#{booking.tour.price}
                    - let date = new Date(booking.tour.startDates[0]).toLocaleDateString('en-US', {  year: 'numeric',  month: 'long', day: 'numeric',hour:'numeric',minute:'numeric'});
                    p.tour-date Starts At:- #{date}
                    a.detail-btn(href=`/tour/${booking.tour.slug}`) More Details...