extends home 
block content 
    .tour
        .tour-img-overlay
            img.tour-profile-picture(src=`/img/tours/${tour.imageCover}`, alt="")
            .img-overlay
            h1.tour-name=tour.name
            .tour-img-cover
        .tour-information 
            .tour-left-information
                .icons
                    .icon
                        i.fa-solid.fa-location-dot
                        p.tour-location=tour.startLocation.description 
                    .icon
                        i.fa-regular.fa-flag
                        p.tour-stops=`${tour.locations.length} `
                            span.highlighted-card-word stops
                    .icon
                        i.fa-solid.fa-calendar-days
                        - let date = new Date(tour.startDates[0]).toLocaleDateString('en-US', {  year: 'numeric',  month: 'long', day: 'numeric',});
                        p.tour-start-date=date
                    .icon    
                        i.fa-solid.fa-person
                        p.tour-group-size=`${tour.maxGroupSize} `
                            span.highlighted-card-word people
                .tour-guides 
                    h3 Tour Guides
                    each guide in tour.guides
                        .tour-guide
                            img(src=`/img/users/${guide.photo}`, alt="")
                            p #{guide.name}
                                 span.highlighted-card-word(style="padding-left:0.5rem") #{guide.role}
            .tour-right-information
                h1 Tour Description
                p.tour-description= tour.description
            .map-overlay
                h1.review-title Review Tour & Clients Reviews
            .tour-images 
                each img in tour.images 
                    img(src=`/img/tours/${img}`, alt="")
        .tour-map-locations#map(data-locations=`${JSON.stringify(tour.locations)}`)
        form.create-review-form(action=`/tours/${tour._id}/reviews` method="POST")
            .input-dev.review-input
                    label(for="review") Review
                    input.tour-review-input(type="text" name="review" placeholder="write your review")
            .input-dev.rating-input
                    label(for="rating") Rating
                    input.tour-review-rating-input(type="text" name="rating" placeholder="Rate Tour")
            button.btn.create-review-btn(type="submit") Review
        .tour-reviews 
            each review in tour.reviews
                .tour-review 
                    img(src=`/img/users/${review.user.photo}`, alt="")
                    .user-name= review.user.name
                    p.tour-review-rev= review.review 
                    p.tour-review-rating= review.rating
        .tour-payment 
            img(src="/img/icon/logo.png", alt="")
            .payment-title 
                h2 WHAT ARE YOU WAITING FOR ?!
                P Adventure, infinite Memories, Make it yours today!.
            if user 
                button.btn.pay-btn#pay-for-tour(type="submit" data-tour-id=`${tour._id}`) Book Tour Now! 
            else 
                a.btn.tour-login-btn(href=`/login`) Login To Book Tour!